@charset "UTF-8";

div#backbody {
   font-size: 13pt;
   max-width: 1200px;
   width: 100%;
   padding: 50px 0;
   margin-left: auto;
   margin-right: auto;
}

#frame1{
   width: 100%;
   padding: 50px 50px;
   
}

#frame2{
   padding-bottom: 10px;
}

.home{
   float: right;
   font-size: 12pt;
}

table.calculation1 {
   clear: both;
   border: solid 1px #e0e0eb;
   border-collapse:collapse;
   background-color: white;
   width: 100%;
   font-size: 10pt;
}
table.calculation1 th {
   border: solid 1px white;
   border-top: solid 1px #e0e0eb;
   padding: 10px 0;
   text-align: center;
   background-color: white;
}

table.calculation1 td {
   border: solid 1px white;
   border-bottom: solid 1px #e0e0eb;
   text-align: center;
   padding: 10px 0; 

}

table.calculation2 {
   border: solid 1px #e0e0eb;
   border-collapse:collapse;
   background-color: #fafafa;
   width: 100%;
   font-size: 10pt;
}

table.calculation2 th {
   border: solid 1px #fafafa;
   text-align: center;
}

table.calculation2 td {
   border: solid 1px white;
   text-align: center;
   border-bottom: solid 1px #fafafa;
}

#price{
   font-size: 20pt;
   font-weight: bold;
}

.lifont {
   font-size: 10pt;
   color: gray;
}

.delivery{
   border: solid 1px #e0e0eb;
   border-collapse:collapse;
   width: 100%;
   font-size: 12pt;
}

table.delivery{
   clear: both;
   border: solid 1px #e0e0eb;
   border-collapse:collapse;
   background-color: white;
   width: 100%;
   font-size: 10pt;
}

table.delivery th{
   border: solid 1px white; 
   border-top: solid 1px #e0e0eb;
   padding: 12px 10px;
   background-color: white;
}

table.delivery td{
   border: solid 1px white;
   padding: 12px 10px;

}

.deliverytd{
   font-size: 10pt;
   background-color: white;
   border-bottom: solid 1px #e0e0eb;
   color: black;
   font-weight: bold;
}

.payArea{
   height: 218px;
   position: relative;
   padding: 0 350px 0 0;
   border: 1px solid #e0e0eb;
   color: #353535;
   line-height: 1.5;
   border-right: white;
   border-left: white;
}

.payment {
   border-right: solid 1px #e0e0eb;
   float: left;
   width: 100%;
   height: 100%;
   padding-left: 10px;
   
}

.total{
   float: right;
   width: 350px;
   height: 217px;
   margin: 0 -350px 0 0;
   text-align: left;
   background: #fafafa;
   font-size: 11pt;
   padding: 0px 0px 0px 0px;
   
}

.btn{
   border: none;
   color: white;
   padding: 5px 13px;
   margin-right: 10px;
   cursor: pointer;
   border-radius: unset !important;
   font-weight: bolder;
}

.default{
   background-color: #fff;
   border: solid 1px #B7B8B9 !important;
   color: black;
}

.default:hover {
   background: #ddd;
}

.backBtn{
   background: #fff;
   border: solid 1px gray;
}

.btnfloat{
   float: left;
}

.btnfloat2{
   float: right;
}

.clearboth{
   clear: both;
}

.footerbtn{
   float: right;
   font-weight: bolder;
   height : 35px;
   border-radius: 3px;
   background-color: #B7B8B9 !important;
   font-size: 10pt !important;
}

.btndelete{
	border-radius: unset !important; 
	width: 90px; 
	margin-bottom: 3px;
	font-size: 10pt !important;
	}

#orderAll, #orderSelected{
	width: 180px;
	height: 40px;
	border-radius: unset !important; 
	font-size: 10pt !important;
	letter-spacing: 0.5px;
	font-weight: 400;
	margin-right: unset;
	margin-left: 10px;
	
}

#allProduct, #productClear, #footerbtn{
   padding: 11px 25px;
}

#allProduct{
   margin-left: 140px;
   background-color: #B7B8B9;
   color: #fff;
   font-weight: bold;
   font-size: 12pt;
}

#productClear{
   background-color: #B7B8B9;
   color: #fff;
   font-weight: bold;
   font-size: 12pt;
}

input.underline {
   border: 0;
   border-bottom: solid 1px #e0e0eb;
}

.result{
	display: inline-block; 
	text-align:center; 
	padding-top: 2px; 
	padding-bottom: 2px; 
	margin-left: -4px; 
	margin-right: -4px; 
	border-top: 1px solid black; 
	border-bottom: 1px solid black; 
	width: 30px;
	border-right: none;
    border-left: none;
    font-weight:600;
}

.guideFrame{
	border: solid 1px #e0e0eb; 
	padding: 10px 0; 
	font-size: 12px; 
	background-color: #fafafa; 
	padding-left: 10px;
}

.guideDetail{
	border: solid 1px #e0e0eb; 
	height: 140px; 
	font-size: 11pt; 
	padding-left: 10px; 
	padding-top:20px;
	color: gray;
}

.quanBtn{
	width:25px;
	height: 25px;
	border: black solid 1px;
}

.img:hover,
.pName:hover{
	cursor: pointer !important;
	
}


#deleteSel, #deleteAll{
	width: 100px;
	height: 35px;
	font-size: 10pt !important;
}

html.dark .btn {
	color: #bbb;

}


.continueShopping{
	
	color:white !important;
	width: 140px !important;
	height: 40px !important;
	font-size: 10pt !important;
}	

html.dark .btn:hover {
	color: black;

}
