@charset "UTF-8";

.imgInput{
          border: black 1px solid;
          margin: 5px;
    }
[id*=ImgArea]:hover {
		cursor : pointer;
    }
    .inputBox{
        display: inline-block;
        margin: 1%;
    }

    .inputBox1,.inputBox2, .inputBox3 {
        /* display: inline-block; */
        margin: 1%;
        float: left;
    }
    
    #imgDetail{
        width: 400px;
        height: 700px;
        margin-right: 20px;
    }
    .ininput{
        width: 340px;
    }
    .ininput2{
        width: 160px;
    }
    .package{
        display: inline;
    }
    
    #btn{
        border-radius: 15%;
        background-color: white;
        width: 180px;
        height: 40px;
        font-weight: bolder;
    }

.package{
	width : 1000px;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}
    
.container{
	width:1200px;
	margin-left: auto;
	margin-right: auto;
}

.brandInput-title{
	width:100%;
	text-align: center;
	margin: 60px 0 60px 0;
	font-size: 25px;
	font-weight: 700;
}

 .input-area{
 	width:100%;

 	position:relative;
	padding-inline-start:150px;
 	}
 	
  #btn:hover{
    cursor : pointer;
    }
    
.iip{

	border:black solid 1px;
}

.addImg{
		height: 150px;
	width: 120px;

	
	
}
    
    